{% extends 'base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'to_do_application/css/nav_bar.css' %}">
{% endblock %}


{% block content %}
    {% include 'to_do_application/includes/nav_bar.html' %}
    <br><br><br><br>
    <h1>This page is about me!</h1>
    <h2>Hi! I am Ilya Borshch and I am 17. </h2>
    <h3>It was the 1st of July when I started my programming journey and chose my first language - Python.</h3>
    <h3>After 5 unfavorable but enjoyable months I managed to learn a lot of interesting things, even managed to get in touch with C # and Unity, </h3>
    <h3>but, regrettably I wasn't being successful. However, I am not going to stop on my coding path and my end goal. </h3>
    <h3>That being to become the Back-end Python Trainee.</h3>
    <h3>This project was started with absolutely zero knowledge and understanding of the application architecture and how I were to build it.  </h3>
    <h3>But I did it! And I will be very happy if in the future at least somebody will appreciate it! Thank you very much if you are viewing my project right now!</h3>
    <hr>
    <h2>My stack: <a href="https://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>,
                  <a href="https://www.postgresql.org/">PostgreSQL</a>, <a href="https://www.docker.com/">Docker</a>,
                  <a href="https://kafka.apache.org/">Kafka</a>, <a href="https://ubuntu.com/">Linux</a></h2>
    <br>
    <h2>My links:</h2>
    <ul>
        <li>
            <span class="git_hub"><a href="https://github.com/ilborsch/To-Do-List"><img src="{% static 'to_do_application/img/Octocat.png' %}"></a></span>
        </li>
        <li>
            <span class="instagram"><a href="https://www.instagram.com/borschhhhhh/"><img src="{% static 'to_do_application/img/inst.png' %}"></a></span>
        </li>
        <li>
            <span class="telegram"><a href="https://t.me/borshchhhh"><img src="{% static 'to_do_application/img/tg.png' %}"></a></span>
        </li>
        <li>
            <span class="linked_in"><a href="https://www.linkedin.com/in/illia-borshch-633938254/"><img src="{% static 'to_do_application/img/linked_in.png' %}"></a></span>
        </li>
    </ul>
{% endblock %}