{% extends 'base.html' %}
{% load static %}

{% block title %} To Do List {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'to_do_application/css/nav_bar.css' %}">
    <link rel="stylesheet" href="{% static 'to_do_application/css/main_page.css' %}">
{% endblock %}

{% block content %}
    {% include 'to_do_application/includes/nav_bar.html' %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Welcome to your personal organiser.</h1>
    <p class="wdr-text">Your organization is in one click away.</p>
    <br>

    {% for point in points %}
    <p>{{ point }}</p>
    {% endfor %}
    {% if user.is_authenticated %}
        <p class="start_now"><a href="{% url 'main_page' %}">Continue your path!</a></p>
    {% else %}
        <p class="start_now"><a href="{% url 'registration' %}">Start now!</a></p>
    {% endif %}

    <!-- <img class="emoji" src="{% static 'to_do_application/img/5.png' %}" alt="here must be image :("> -->
    <!--<img src="{% static 'to_do_application/img/1.png' %}" alt="here must be image :("> -->
    <img class="man" src="{% static 'to_do_application/img/2.png' %}" alt="here must be image :(">
    <img class="sign" src="{% static 'to_do_application/img/3.png' %}" alt="here must be image :(">

{% endblock %}


