{% extends 'base.html' %}
{% load static %}

{% block title %} To Do List {% endblock %}

{% block links %}
{% endblock %}

{% block content %}
    {% include 'to_do_application/includes/nav_bar.html' %}
    {% if user.is_authenticated %}
        <br>
        <br>
        <br>
        <h1><a href="{% url 'create_new_task' user_name=user.username %}">Create a new task.</a></h1>
        <form method="post"></form>
        {% for task in user.task_set.all %}
                {% if not task.is_completed %}
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>

                    <form method="get">
                        <button formaction="{% url 'tasks' task_id=task.id %}">Delete</button>
                        <button formaction="{% url 'change_task' task_id=task.id user_name=user.username %}">Change</button>
                        <button formaction="{% url 'completed_task' task_id=task.id user_name=user.username %}">Set as completed!</button>
                    </form>
                    <hr>
                {% endif %}
        {% endfor %}
    {% else %}
        <br>
        <br>
        <br>
    <h1>You are not authenticated, sorry.</h1>
    <h2><a href="{% url 'registration' %}">Register</a> / <a href="{% url 'authorisation' %}">Login</a></h2>

    {% endif %}
{% endblock %}
