{% extends 'base.html' %}
{% load static %}

{% block title %} {{ user.username|capfirst }} profile {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'to_do_application/css/nav_bar.css' %}">
{% endblock %}


{% block content %}
    {% include 'to_do_application/includes/nav_bar.html' %}
    <br>
    <br>
    <br>
    <br>
    <h1>User {{ user.username }} profile</h1>

        <img src="{{ user.profile_photo.url }}" alt="here must be image :(">

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Change profile photo</button>
    </form>

{% endblock %}