{% extends 'base.html' %}
{% load static %}

{% block title %} {{ profile_user.username|capfirst }} profile {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'to_do_application/css/nav_bar.css' %}">
{% endblock %}


{% block content %}
    {% include 'to_do_application/includes/nav_bar.html' %}
    <br>
    <br>
    <br>
    <br>
    <h1>User {{ profile_user.username }} profile</h1>

        <img src="{{ profile_user.profile_photo.url }}" alt="here must be image :(">

    {% if request_user.username == profile_user.username %}

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Change profile photo</button>
        </form>
    {% endif %}
    <h3>Completed tasks: {{ amount_tasks_completed }} / {{ amount_tasks }}</h3>
    <br>
    <hr>
    {% for task in profile_user.task_set.all %}
        {% if task.is_public %}
            <h3>{{ task.title }}</h3>
            <p>{{ task.description }}</p>
            <hr>
        {% endif %}
    {% endfor %}

{% endblock %}