h1 {
    font-size: 61px;
    text-align: center;
}

p.start_now {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

p.wdr-text {
    font-weight: 550;
    font-size: 41px;
    font-style: italic;
}

p {
    font-size: 28px;
    text-align: center;
}

img.man {
    float: right;
    margin: 0 0 5px 5px;
    margin-top: -19%;
    width: 550px;
    height: 550px;
}

img.sign {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-left: -61px;
    margin-top: -3px;
}

img.b-man {
    float: left;
    margin: 0 0 5px 5px;
    margin-top: -15%;
    height: 400px;
}
