
.rectangle {
    counter-reset: li;
    list-style: none;
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.rectangle a {
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    margin: .5em 0 .5em 2.5em;
    background: #ccffcc;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;
}

.rectangle a:hover {background: #DCDDE1;}

.rectangle a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: green;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

.rectangle a:after {
    position: absolute;
    content: "";
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;
}

.rectangle a:hover:after {
    left: -.5em;
    border-left-color: green;
}

li {
    font-size: 28px;
}

.searched_text {
    text-shadow: 4px 4px 5px green;

}

.sad-img {
    width: 700px;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}